
$dark-blue:#4e73df;
$light-blue: #36b9cc;
$red: #e74a3b;
$green: #1cc88a;
$yellow: #f6c23e;
$dark-grey: #858796;
$light-grey: #f8f9fc;
$text-color: #5a5C69;
$card-header: #4E73DF;
$box-border: #EEEEEE;