$Primary: #fff;
$Success: #ae4bd6;
$Info: rgb(218, 97, 97);
$Warning: #f6c23e;
$Danger: #8527ac;
$FontAwesomeCards: #dddfeb;
$darkblue: #041f4e;
$neonpink: #ff00e1;
$neonblue: #44CCFF;
$neongreen: rgb(77, 209, 44);
